* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image:url(background.jpg);
    background-size: cover;
}

h1{
    background-color:#c4c5c7;
    color: black;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
        border-radius: 50%;

}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
   
}

.choices{
display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
     display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
margin-top: 3rem;
gap:5rem ;
}

#user-score{
font-size: 3.5rem;

}

#comp-score{
font-size: 3.5rem;
}

.msg-container{
    margin-top: 5rem;

}

#msg{
    background-color:#303841;
    color: #fff;
    font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1.2rem;
}